body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    color: goldenrod;
    font-size: 50px;
    line-height: 56px;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    background: #333;
    color: rgb(240, 194, 42);
    padding: 25px 6px 2px 40px;
    margin:25px;
}
section{
    background-color: seagreen;
}
section.title-area{
    background-color: rgb(12, 92, 52);
}
.card{
    background-color: snow;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 20px;
    display: inline-block;
    width: 20%;
}
@media (max-width: 1050px){
    .card{
        background-color: springgreen;
    }
}
